body {
  background-image: url("../images/loabg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.progress {
  margin-top: 120px;
  max-width: 500px;
  height: 20px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 60px;
}

.progress .value {
  width: 10%;
  height: 20px;
  border-radius: 10px; 
  transition: 0.2s;
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(160,182,255,1) 0%, rgba(54,66,246,1) 100%);
}

.questions-box{
  max-width: 420px;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;  
  box-shadow: 0 4px 25px #dde2e8;
}

.questions-box .number {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #FC5404;
  margin-bottom: 30px;
}

.questions-box .question {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 40px;
}

.questions-box .choice {
  border-radius: 120px;
  font-size: 22px;
}

@media (max-width: 640px) {
  .progress {
    margin-bottom: 30px;
  }
  .questions-box {
    padding-left: 12px;
    padding-right: 12px;
  }
  .questions-box .question {
    font-size: 28px;
  }
  .questions-box .choice {
    font-size: 20px;
  }
}